html,
body {
    height: 100%;
}

body {
    background-image: url("../../../images/login/background-login.png");
    background-size: cover; /* Mengatur gambar agar menutupi seluruh elemen */
    background-position: bottom; /* Memposisikan gambar di tengah */
    background-repeat: no-repeat; /* Mencegah gambar berulang */
    background-attachment: fixed;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card {
    width: 27rem;
    height: 32rem;
    display: flex;
    border-color: black;
    justify-content: flex-start;
    padding: 3;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
